h1 {
    text-align: center;
}
body {
    background-image: url("https://www.sandals.com/blog/content/images/2019/10/shutterstock_22716565-2_web.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px magenta;
}
.mainContainer {
    display: flex;
    padding: 50px;
}
.fish, .travel, aside {
    text-align: center;
    border: 1px magenta outset;
    padding: 50px;

}
img {
    width: 250px;
    height: 200px;
}
.left {
    flex: 3;
}
.right {
    flex: 1;
}
h2 {
    text-align: center;
}
.fish {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.fish_card {
    width: 50%;
    margin: auto;
}
.travel {
    display: flex;
    flex-direction: column;
}
