h1 {
    text-align: center;
}
.mainContainer {
    display: flex;
}
.left, .right, .fish, .travel {
    border: 1px dotted;
    text-align: center;
}
img {
    width: 250px;
    height: 200px;
}
.left {
    flex: 3;
}
.right {
    flex: 1;
}
ul {
    width: 50%;
    margin: auto;
}
.fish {
    display: flex;
    flex-direction: column;
}